<div class="story-scroller">
    <div class="story-nav mt-3 ml-md-3 ml-lg-5 mt-lg-4">
      <div class="ml-3 mr-3 pr-3 text-center border-right">
        <a data-toggle="modal" data-target="#addStoryModal" href="#" >
          <figure>
            <img src="{{ vars.current_user_picture }}" height="50" alt="story image" class="rounded-circle border-light img-thumbnail" />
            <figcaption><span class="small"> <i class="lni lni-plus"></i> {{ 'Add Story'|t }}</span></figcaption>
          </figure>
        </a>
      </div>
        {{ vars.stories|raw }}
  </div>
</div>

<!-- Modal add story -->
<div class="modal fade bd-example-modal-lg" id="addStoryModal" role="dialog" aria-labelledby="addStoryModal" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><i class="lni lni-plus"></i> {{ 'Add Story' }} </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {{ vars.story_form }}
    </div>
  </div>
</div>
<!-- / Modal add story  -->

<!-- Modal show story-->
{# Manipulated by ol_stories.js #}
<div class="modal fade" id="showStory" tabindex="-1" role="dialog" aria-labelledby="showStory" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="story_body mb-2"></div>
        <img id="story_image_url" src="" class="img-fluid" alt="" />
      </div>
    </div>
  </div>
</div>
<!-- / Modal remove file from folder  -->

<!-- Modal remove story -->
{# Manipulated by ol_stories/js/ol_stories.js #}
<div class="modal fade" id="removeStory" tabindex="-1" role="dialog" aria-labelledby="removeFile" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-exclamation-triangle"></i> {{ 'Remove Story'|t }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ 'You are about to remove your story. Are you sure?'|t }}</p>
      </div>
      <div class="modal-footer">
        {{ vars.delete_story_form }}
      </div>
    </div>
  </div>
</div>
<!-- / Modal remove file from folder  -->
