.chat-wrapper {
  background-color: #fff;
  padding-top: 20px;
  height: 100% !important;
}
#message-container {
  overflow: auto;
  height: 100%;
}
#chat-item-form {
  position: fixed;
  margin-bottom: 30px;
  bottom: 0;
}
#message-input {
  flex-grow: 1;
}
#edit-message {
  margin-top: 0;
}
.chat-list .media-body {
  font-size: 1em;
  color: #252729;
  font-weight: 500;
  margin-bottom: 10px;
}
.chat-list .mb-1 {
  font-weight: 600;
}
.chat-item-files-wrapper {
  margin-top: 10px;
}
.chat-item-files-wrapper a {
  padding-left: 0 !important;
}
.chat-item-files-wrapper .media-body {
  margin-bottom: 5px;
}
#edit-offset {
  display: none;
}
#load-previous-form {
  margin-bottom: 5px;
}
.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #007bff;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
#edit-message-body-value-format {
  display: none;
}
.messages__item a {
  text-decoration: underline;
  font-weight: bold;
}
.messages-list-wrapper .message-card-body p {
  line-height: 1.3em;
}
.messages-list-wrapper .message-card-body h6 {
  font-size: 1.15rem;
}
#last_message_timestamp,
#last_message_timestamp_db {
  display: none;
}
#chat-item-form {
  right: 0;
  left: 0;
  box-sizing: border-box;
  max-width: 100%;
  margin-bottom: 0;
  padding-right: 16px;
  background-color: #f2f2f2;
}

#chat-item-form > .container-md {
  padding-top: 15px;
  padding-bottom: 15px;
}

#content.chat-holder {
  height: auto;
  min-height: auto;
  padding-bottom: 130px;
}

#content.chat-holder .container-md {
  margin-top: 0;
}

.chat-item-form .form-control {
  line-height: 26px;
  height: 39px;
  padding: 4px 15px;
}

.chat-item-form .input-group .input-group-append {
  width: 60px;
}

.chat-item-form .input-group .form-item {
  width: calc(100% - 60px);
}

.chat-list-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  padding: 0;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  text-align: left;

  direction: rtl;
}

.chat-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  direction: ltr;
}

.chat-list#message-container {
  overflow: hidden;

  width: 100%;
  margin: 0;

  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
@media (min-width: 769px)
{
  .detailpage
  {
    padding-left: 250px;
  }

  #chat-item-form
  {
    padding: 0 50px;
    background-color: transparent;
  }
}
@media (min-width: 992px)
{
  #chat-item-form > .container-md
  {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  #content.chat-holder
  {
    padding-bottom: 115px;
  }

}
.chat-list-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  padding: 0;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  text-align: left;
  direction: rtl;
}
.chat-wrapper{
  background-color: #fff;
  padding-top:20px;
}
#message-container{
  overflow:auto;
  height:100%;
}
#chat-item-form {
  position: fixed;
  margin-bottom: 30px;
  bottom: 0;
}
#message-input {
  flex-grow: 1;
}
#edit-message-input{
  margin-top:0;
}
.chat-list .media-body {
  font-size: 0.8em;
  color: #252729;
  font-weight: 500;
  margin-bottom: 10px;
}
.chat-list h6{
  font-size: 1em;
}
.chat-list .mb-1{
  font-weight: 600;
}
#edit-offset {
  display: none;
}
a.chat-inline-link{
  color:#007bff;
}
.container.chat-wrapper{
  border-left: 3px solid #007bff;
}
.col-12.chat-col-12{
  padding-left:0;
  padding-right:0;
}
span.chat-item-body.external {
  font-size: 0.8rem;
  color: #9e9e9e;
  font-style: italic;
}
.chat-mentions .dropdown-menu {
  top: -100px !important;
  left:40px !important;
}
.chat-item-form .form-item-message input::placeholder {
  font-size: 0.8rem;
  color: #a8a8a8;
}
