
<div class="card shadow-sm mb-3">
  <div class="card-body pb-0">
    <!-- User picture, date and drop down for edit -->
    <div class="media text-muted">
      <img class="rounded-circle mr-2" src="{{ vars.user_picture }}" alt="user thumbnail" height="35">
      <p class="media-body pb-3 mb-0 small lh-125 border-gray">
        <strong class="d-block text-gray-dark">
          <a href="/user/{{ vars.user_id }}/profile" class="username text-muted">{{ vars.username }}</a>
        </strong>
        <span class="text-muted small">{{ vars.created|date("D d-m-Y H:i") }}</span>
      </p>
      {% if vars.owner == TRUE %}
        <div>
          <div class="dropdown">
            <button class="btn btn-link" type="button" id="ol-drop2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="lni lni-line-dotted"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="ol-drop2">
              <a class="dropdown-item" href="#" data-toggle="modal" data-target="#editMessageModal_{{ vars.id }}">{{ 'Edit'|t }} </a>
            </div>
          </div>
        </div>
      {% endif %}
    </div>

    <!-- Body -->
    {{ vars.body|raw }}

    <!-- Files -->
    {% if vars.files %}
      <div class="files_wrapper">
        {{ vars.files|raw }}
      </div>
    {% endif %}
  </div>

  <!-- Footer -->
  <div class="card-footer">
    <div class="">
      {{ vars.like_button }}
    </div>
    <div class="mt-2">
      <a id="comment_list"></a>
      {% if vars.comment_count == 1 %}
        {% set var_comment = 'Comment' %}
        <a href="{{ vars.link }}#comment_list" class="card-link btn btn-light px-5 text-muted btn-sm"><i class="fa fa-comment"></i> {{ vars.comment_count }} {{ var_comment|t }}</a>
      {% elseif vars.comment_count == 0 %}
        {% set var_comment = 'Be the first to comment' %}
        <a href="{{ vars.link }}#comment_list" class="card-link btn btn-light px-5 text-muted btn-sm"><i class="fa fa-comment"></i> {{ var_comment|t }}</a>
      {% else %}
        {% set var_comment = 'Comments' %}
        <a href="{{ vars.link }}#comment_list" class="card-link btn btn-light px-5 text-muted btn-sm"><i class="fa fa-comment"></i> {{ vars.comment_count }} {{ var_comment|t }} </a>
      {% endif %}
    </div>
  </div>
  <!-- / Footer -->
</div>


{% if vars.owner == TRUE %}
  <!-- Edit modal -->
  <div class="modal fade bd-example-modal-lg" id="editMessageModal_{{ vars.id }}" role="dialog" aria-labelledby="editMessageLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-edit"></i> {{ 'Edit message'|t }}  </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
          {{ vars.message_edit_form }}
      </div>
    </div>
  </div>
  <!-- / Edit modal  -->
{% endif %}

