<div class="col-md-3 ml-4 mb-3 card shadow-sm p-2 bg-light">
  <a href="{{ vars.url }}">
  <div class="card-body p-1 py-2">
    <h5 class="card-title h6 text-dark">{{ vars.textdocname }}</h5>
    <p class="card-text small text-muted">{{ vars.body_intro|striptags }}</p>
    <span class="badge badge-light small text-muted"><i class="lni lni-calendar"></i> {{ vars.created|date("d M Y") }}</span>
    <span class="badge badge-light small text-muted"><i class="lni lni-user"></i> {{ vars.user_name }}</span>
    {% if vars.category_name %}
      <span class="badge badge-light small text-muted"><i class="lni lni-tag"></i> {{ vars.category_name }}</span>
    {% endif %}
  </div>

  </a>
  {% if vars.owner == TRUE %}
    <button class="btn btn-link" type="button" id="ol-drop2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="lni lni-line-dotted"></i>
    </button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="ol-drop2">
      {% if vars.has_categories %}
        <button class="dropdown-item" data-toggle="modal" data-target="#putTextdocInCategoryModal"
                data-name="{{ vars.textdocname }}"
                data-category_id="{{ vars.category_id }}"
                data-textdoc_id="{{ vars.id }}"
        ><i class="lni lni-tag"></i> {{ 'Put in Category'|t }}</button>
      {% endif %}
      {% if vars.category_id %}
        <button class="dropdown-item" data-toggle="modal" data-target="#removeTextDocFromCategory"
                data-textdoc_id="{{ vars.id }}"
                data-textdoc_name="{{ vars.textdocname }}"
                data-category_name="{{ vars.category_name }}"
        ><i class="lni lni-circle-minus"></i> {{ 'Remove From'|t }} '{{ vars.category_name }}'</button>
      {% endif %}
      <button class="dropdown-item" data-toggle="modal" data-target="#removeTextdoc"
              data-name="{{ vars.textdocname }}"
              data-textdoc_id="{{ vars.id }}"
      ><i class="lni lni-close"></i> {{ 'Remove'|t }}</button>
    </div>
  {% endif %}
</div>

