
<div class="card shadow-sm mb-3">
  <div class="card-body pb-0">
    <!-- User picture, date and drop down for edit -->
    <div class="media text-muted">
      <img class="rounded-circle mr-2" src="{{ vars.user_picture }}" alt="user thumbnail" height="35">
      <p class="media-body pb-3 mb-0 small lh-125 border-gray">
        <strong class="d-block text-gray-dark">
          <a href="/user/{{ vars.user_id }}/profile" class="username text-muted">{{ vars.username }}</a>
        </strong>
        <span class="text-muted small">{{ vars.created }}</span>
        {% if vars.privacy %}
          <span class="badge badge-primary comment"><i class="fas fa-lock"></i> {{ 'Private comment: only visible for you and questioner'|t }} </span>
        {% endif %}

      </p>
      {% if vars.owner == TRUE %}
        <div>
          <div class="dropdown">
            <button class="btn btn-link" type="button" id="ol-drop2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="lni lni-line-dotted"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="ol-drop2">
              <a class="dropdown-item" href="#" data-toggle="modal" data-target="#editCommentModal_{{ vars.comment_id }}">{{ 'Edit'|t }} </a>
            </div>
          </div>
        </div>
      {% endif %}
    </div>

    <!-- Body -->
    {{ vars.body|raw }}

    <!-- Files -->
    {% if vars.files %}
      <div class="files_wrapper">
        {{ vars.files|raw }}
      </div>
    {% endif %}
  </div>

  <!-- Footer -->
  <div class="card-footer">
    {{ vars.like_button }}
  </div>
  <!-- / Footer -->
</div>

{% if vars.owner == TRUE %}
  <!-- Modal edit comment -->
  <div class="modal fade" id="editCommentModal_{{ vars.comment_id }}"  role="dialog" aria-labelledby="editCommentModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ 'Edit comment:'|t }} {{ vars.name }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{ vars.edit_form }}
        </div>
      </div>
    </div>
  </div>
  <!-- / Modal edit comment -->
{% endif %}


{#



<!--- Comment-->
<div class="card mb-3">
  <a id="comment_id_{{ vars.comment_id }}"></a>
  <div class="card-header comment">
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex justify-content-between align-items-center">
        <div class="mr-2">
          <img class="rounded-circle" src="{{ vars.user_picture }}" alt="" height="35">
        </div>
        <div class="ml-2">
          <div class="m-0"><a class="text-muted" href="/user/{{ vars.user_id }}/profile">{{ vars.username }}</a>
            <span class="badge badge-light comment"><i class="fas fa-clock"></i> {{ vars.created }} </span>
            {% if vars.privacy %}
            <span class="badge badge-primary comment"><i class="fas fa-lock"></i> {{ 'Private comment: only visible for you and questioner'|t }} </span>
            {% endif %}
          </div>
        </div>
      </div>
      {% if vars.owner == TRUE %}
        <div>
          <div class="dropdown">
            <button class="btn btn-link" type="button" id="ol-drop2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="lni lni-line-dotted"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="ol-drop2">
              <a class="dropdown-item" href="#" data-toggle="modal" data-target="#editCommentModal_{{ vars.comment_id }}">{{ 'Edit'|t }}</a>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
  <div class="card-body pt-3 pb-0">
     {{ vars.body|raw }}
  </div>
  {% if vars.files %}
    <div class="files_wrapper comment">
      {{ vars.files|raw }}
    </div>
  {% endif %}
  {% if vars.like_button %}
  <!-- Footer -->
  <div class="card-footer comment">
    <div class="like-wrapper">
      {{ vars.like_button }}
    </div>
  </div>
  {% endif %}
</div>#}
<!-- / Comment -->

{#
<li class="media">
  <a id="comment_id_{{ vars.comment_id }}"></a>
  <a href="#" class="pull-left">
    <img src="{{ vars.user_picture }}" alt="" class="rounded-circle">
  </a>
  <div class="media-body">
    <span>{{ vars.username }}</span>
    <span class="text-muted"> {{ vars.userstatus }}</span>
    <span class="text-muted pull-right"><small class="text-muted"> {{ vars.created }}</small></span>
    <p>
      {{ vars.comment_body|raw }}
    </p>
  </div>
  {% if vars.owner == TRUE %}
    <div>
      <div class="dropdown">
        <button class="btn btn-link dropdown-toggle" type="button" id="ol-drop2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-ellipsis-h"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="ol-drop2">
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#editCommentModal_{{ vars.comment_id }}">Edit</a>
        </div>
      </div>
    </div>
  {% endif %}

</li>

{% if vars.files %}
  <div class="files_wrapper">
    {{ vars.files|raw }}
  </div>
{% endif %}
#}
