
{# POST image #}
{% if vars.post_image %}
  <img alt="Image" class="card-img-bottom" src="{{ vars.thumbnail_url }}" />
  {% if vars.owner == TRUE %}
    <div>
    <button class="btn btn-link dropdown-toggle" type="button" id="ol-drop-{{ vars.ol_fid }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-ellipsis-h"></i>
    </button>
    <div class="dropdown-menu dropdown-menu-left" aria-labelledby="ol-drop-{{ vars.ol_fid }}">
      <button class="dropdown-item" data-toggle="modal" data-target="#removeFile"
              data-name="{{ vars.filename }}"
              data-ol_fid="{{ vars.ol_fid }}"
              data-file_type="{{ vars.file_type }}">
        <i class="lni lni-close"></i> {{ 'Remove File'|t }}</button>
    </div>
    </div>
  {% endif %}

{# Everywhere else image #}
{% else %}
  <li class="media" id="file-li-id_{{ vars.ol_fid }}">
    {#  <a id="file_id_{{ vars.file_id }}"></a>#}
    <a href="{{ vars.url }}" class="pull-left" target="_blank">
      {% if vars.thumbnail_url %}
        <img alt="Image" class="img-fluid rounded attached-file" src="{{ vars.thumbnail_url }}" />
      {% else %}
        <div class="h5 pt-1 px-1 mr-1"><i class="lni lni-paperclip"></i></div>
      {% endif %}
    </a>
    <div class="media-body">
      {% if vars.big_image == false %}
        <span class="text-muted filename">
          {% if vars.thumbnail_url %}
          <a href="{{ vars.url }}" target="_blank"> {{ vars.filename }}</a>
          {% else %}
          <a href="{{ vars.url }}"> {{ vars.filename }}</a>
          {% endif %}
        </span>
        <span class="badge badge-light  text-muted small"
              data-toggle="tooltip" data-placement="top" title="{{ 'File size'|t }}" data-delay="500"
        >{{ vars.file_size }}</span>
        <span class="badge badge-light text-muted small"
            data-toggle="tooltip" data-placement="top" title="{{ 'Uploaded by'|t }}" data-delay="500"
        >{{ vars.username }} </span>
        <span class="badge badge-light text-muted small"
            data-toggle="tooltip" data-placement="top" title="{{ 'Date uploaded'|t }}" data-delay="500"
        >{{ vars.created|date('d-M-Y, H:m') }} </span>
      {% endif %}
      {% if vars.owner == TRUE %}
        <button class="btn btn-link" type="button" id="ol-drop2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="lni lni-line-dotted"></i>
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="ol-drop2">
          {% if vars.is_task_file %}
            <button class="dropdown-item delete-file-btn" data-ol_file_id="{{ vars.ol_fid }}" > <i class="lni lni-close"></i> {{ 'Remove File'|t }}</button>
          {% else %}
          <button class="dropdown-item file-delete-via-modal-btn" data-toggle="modal" data-target="#removeFile"
                  data-name="{{ vars.filename }}"
                  data-ol_fid="{{ vars.ol_fid }}"
                  data-file_type="{{ vars.file_type }}">
            <i class="lni lni-close"></i> {{ 'Remove File'|t }}</button>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </li>
{% endif %}


