
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" id="main-nav">
  <a class="navbar-brand mr-3" href="{{ url('<front>') }}"><i class="lni lni-spiner-solid "></i> Lucius</a>
  <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
    <span class="navbar-toggler-icon"></span>
  </button>

{% if logged_in %}
  <div class="navbar-collapse offcanvas-collapse" id="navbar-logged-in">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ url('<front>') }}">{{ 'Home'|t }}</a>
      </li>
      <!-- Groups drop down-->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ 'Groups'|t }}</a>
        <ul class="dropdown-menu" aria-labelledby="dropdown01">
          <input class="form-control mb-2 project-filter" id="groupFilter" type="text" placeholder="{{ 'Search..'|t }}">
          {% for group in vars.groups  %}
            <li>
              <a class="dropdown-item" href="{{ base_path }}group/{{ group.id }}/{{ group.landing }}">{{ group.name }}
                {% if group.non_chat_count %}
                  <span class="badge badge-danger"> {{ group.non_chat_count }}</span>
                {% endif %}
                {% if group.chat_count %}
                  <span class="badge badge-primary"><i class="lni lni-comments"></i> {{ group.chat_count }}</span>
                {% endif %}
              </a>
            </li>
          {% endfor %}
          <li class="nav-item"><hr class="border-top"></li>
          <li><a class="dropdown-item" href="{{ url('ol_main.group_archived') }}"><i class="lni lni-archive"></i> {{ 'Archived'|t }}</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url('ol_members.all_members') }}">{{ 'People'|t }}</a>
      </li>
      {# Todo: everything
        <li class="nav-item">
        <a class="nav-link" href="#">Everything</a>
      </li>#}
    </ul>

    <!-- main nav right-->
    <ul class="navbar-nav mr-3">
      <!-- Search -->
      {% for item in vars.menu_right_items %}
      <li class="nav-item">
        <a class="nav-link" href="{{ item.path }}"
           data-toggle="tooltip" data-placement="bottom" title="{{ item.label }}"
        >
          {% if item.show == 'icon' %}
            <i class="{{ item.icon_class }}"></i>
          {% else %}
            {{ item.label }}
          {% endif %}
        </a>
      </li>
      {% endfor %}
      <!-- Global 'add' drop down -->
      <li class="nav-item dropdown plus-dropdown mr-3">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuPlus" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="lni lni-plus"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuPlus">
          <a class="dropdown-item" href="{{ url('ol_main.add_group') }}"><i class="lni lni-users"></i> {{ 'Add Group'|t }}</a>
        </div>
      </li>
      <!-- User drop down -->
      <li class="nav-item dropdown mr-4">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="{{ vars.user_picture }}" width="24" height="24" class="rounded-circle mr-1">
          {{ vars.username|length > 13 ? vars.username|slice(0, 13) ~ '..' : vars.username  }}
        </a>
        <div class="dropdown-menu  dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{{ url('entity.user.edit_form', {'user': vars.uid} ) }}"><i class="lni lni-user"></i> {{ 'Manage My Profile'|t }}</a>
          <a class="dropdown-item" href="{{ url('ol_stream.user', {'uid': vars.uid} ) }}"><i class="lni lni-timer"></i> {{ 'My Activity'|t }}</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{ url('user.logout') }}"><i class="lni lni-exit"></i> {{ 'Log Out'|t }}</a>
        </div>
      </li>
    </ul>
  </div>
{% endif %}
</nav>

{% if vars.global_message %}
  <div class="container-fluid">
    <div class="d-flex align-items-center p-3 m-3 text-white-50 bg-secondary rounded shadow-sm">
      <span class="global-message-icon h1 mr-3"><i class="lni lni-warning"></i></span>
      <div class="lh-100">
        <h6 class="mb-0 text-white lh-100">
          {{ vars.global_message }}
        </h6>
      </div>
    </div>
  </div>
{% endif %}
